<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.CommonLib" Major="3" Minor="0" Build="1">
      <Files>
        <CPackFile Name="Engima/CommonLib/CommonLib.sqf" CheckSum="uQuoHxz0rCfNCJVm2xLkTA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\CommonLib\CommonLib.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.SearchPatrol" Major="1" Minor="21" Build="0">
      <Files>
        <CPackFile Name="Engima/SearchPatrol/Documentation.txt" CheckSum="CdhqvGof9BXkb8RoV/z+/Q==" />
        <CPackFile Name="Engima/SearchPatrol/SearchPatrol.sqf" CheckSum="GF/jGQsAeBIK3Zn2kTLKIQ==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.PatrolledAreas" Major="1" Minor="10" Build="0">
      <Files>
        <CPackFile Name="Engima/PatrolledAreas/ConfigAndStart.sqf" CheckSum="8NeGl4B9Wouv41ekJESMLA==" />
        <CPackFile Name="Engima/PatrolledAreas/Documentation.txt" CheckSum="56bPk0RwzWfcvEIYGZYfWg==" />
        <CPackFile Name="Engima/PatrolledAreas/HeadlessClient.sqf" CheckSum="69MWtTWjzIUY7VwwkVrFWw==" />
        <CPackFile Name="Engima/PatrolledAreas/Init.sqf" CheckSum="aiI1tck+oJy2uMe5cnGMlA==" />
        <CPackFile Name="Engima/PatrolledAreas/Server/Functions.sqf" CheckSum="moJqLcPOCvKxa4ZdGlSLEg==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Engima.CommonLib</Name>
          <Major>3</Major>
          <Minor>0</Minor>
          <Build>1</Build>
        </CPackDependency>
        <CPackDependency>
          <Name>Engima.SearchPatrol</Name>
          <Major>1</Major>
          <Minor>21</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\PatrolledAreas\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Markers" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="sDZbqzYKZYUKd4N5u+Pg5A==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="GAKwqGUeKPWIBO9mrt7JJQ==" />
        <CPackFile Name="Sqx/Markers/README.txt" CheckSum="cM5/OzWdCVDDA0PNgn+qNQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.BootCamp.TrainingAmmo" Major="0" Minor="71" Build="0">
      <Files>
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Client/EventHandlers/HandleDamage.sqf" CheckSum="Vfo1ERS6CAdMibxZ+2L6Bw==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Client/InitClient.sqf" CheckSum="Ww1Vzoo2IkXf4uigORMDtw==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Init.sqf" CheckSum="+IfA0Vk/2Xk4/qObzj4ZjQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Server/InitServer.sqf" CheckSum="buE0PaDDL7g3dTjYNB3FXQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Server/UnitsSpawnService.sqf" CheckSum="mVWKh0GYUb76A7SsKFEcuA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\BootCamp\TrainingAmmo\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Collections.Sorter" Major="0" Minor="52" Build="0">
      <Files>
        <CPackFile Name="Sqx/Collections/IComparer.sqx" CheckSum="2e2QZ/DFmloAQPcbqI5IKQ==" />
        <CPackFile Name="Sqx/Collections/Sorter.sqx" CheckSum="igoEugu4t6YpQh45TSNt3Q==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.SimpleTasks" Major="1" Minor="17" Build="0">
      <Files>
        <CPackFile Name="Engima/SimpleTasks/Common/EventHandlers.sqf" CheckSum="MK/JfF57nT99CDXZ9/21qQ==" />
        <CPackFile Name="Engima/SimpleTasks/Common/Functions.sqf" CheckSum="dPiWQ1GEQciHjQGktXLFzQ==" />
        <CPackFile Name="Engima/SimpleTasks/Common/UserFunctions.sqf" CheckSum="2iUPtSiE6EvV30ZGv5C7xg==" />
        <CPackFile Name="Engima/SimpleTasks/Documentation.sqf" CheckSum="vI/qV9QOtYWzXBtUdoo2eQ==" />
        <CPackFile Name="Engima/SimpleTasks/Init.sqf" CheckSum="PDxBw1bdZ3GMxqVX4h/t6w==" />
        <CPackFile Name="Engima/SimpleTasks/Server/EventHandlers.sqf" CheckSum="O/Wffco7ybXyBRMMFyh/FA==" />
        <CPackFile Name="Engima/SimpleTasks/Server/Functions.sqf" CheckSum="5/BTOYvs49cd5f5HkZClxw==" />
        <CPackFile Name="MissionTasks.sqf" CheckSum="Xt60HMbOk3ozhDbRydkiHw==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\SimpleTasks\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Engima.BootCamp.TrainingMonitors" Major="0" Minor="50" Build="0">
      <Files>
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Classes/ITrainingMonitor.sqx" CheckSum="0T1/tEyzxfDFIYSYoj6beQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Classes/LifeStateMonitor.sqx" CheckSum="495F0NQyGywZy8jVysuIOQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Classes/MemberDistanceMonitor.sqx" CheckSum="dYb/HzIHioLzsmTO94i8ug==" />
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Classes/MonitorUnit.sqx" CheckSum="OqIxvsDiOB/pdATt9mYmnA==" />
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Classes/StealthMonitor.sqx" CheckSum="KrUAeMpyK6ft407zOv6LLA==" />
        <CPackFile Name="Engima/BootCamp/TrainingMonitors/Init.sqx" CheckSum="n8kCGK5DGdgvwEXHnj6ljA==" />
      </Files>
      <Dependencies>
        <CPackDependency>
          <Name>Sqx.Collections.Sorter</Name>
          <Major>0</Major>
          <Minor>51</Minor>
          <Build>0</Build>
        </CPackDependency>
      </Dependencies>
      <InitLine>call compile preprocessFileLineNumbers "Engima\BootCamp\TrainingMonitors\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>